<% content_for :title, "Editing verdict" %>

<h1>Editing verdict</h1>

<%= render "form", verdict: @verdict %>

<br>

<div>
  <%= link_to "Show this verdict", @verdict %> |
  <%= link_to "Back to verdicts", verdicts_path %>
</div>
