<nav class="navbar" role="navigation" aria-label="Main Navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "โจทย์", "/", class: "navbar-item" %>
      <%= link_to "ผลการตรวจ", "/submissions", class: "navbar-item" %>
    </div>
  </div>
</nav>
